.bash_logout
.bashrc
.gem
.gitconfig
.local
.pki
.wget-hsts
LICENSE
.bash_profile
.cpanm 
.kshrc
.npm
.ssh
.xbuild
env.sh
sql/dummy_log.sql
sql/dummy_users.sql
sql/dummy_users.tsv
sql/dummy_users_used.tsv
.viminfo
.bash_history

